body{
    background-color: cornflowerblue;
    padding: 10px;
    display: flex;
}
main{
    background-color: darkblue;
    color: white;
    max-width: 10px;
    max-height: 10px;
    font-size: 12px;
}
button{
    background-color: white;
    color: black;
    max-height: 30px;
    width: 50px;
}
