<h1 class="text-center">Todos for {{username}}</h1>
<div class="text-center mb-4"><a [routerLink]="['/todo']">Back to All Todos</a></div>
<form class="container mb-4 border-bottom">
    <div class="form-group">
        <label for="user">Todo Name</label>
        <input class="form-control" [(ngModel)]="name" type="text" id="user" name="name">
    </div>
    <button class="btn btn-success mb-2" (click)="addTodo()">Add Todo</button>
</form>

<app-todo-list [toDos]="toDos" (deleteEvent)="deleteTodos()"></app-todo-list>