<a [routerLink]="['/todo']">Back to Todos</a>

Welcome {{username}}!
<label for="name">ToDo Name</label>
<input [(ngModel)]="name" type="text" id="name">
<br>
<br>
<button (click)="addTodo()">Add Todo</button>
<br>
<br>
<table>
    <tr>
        <th>Id</th>
        <th>ToDo Name</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let toDo of toDos">
        <td>{{toDo.id}}</td>
        <td>{{toDo.name}}</td>
        <td><input type="checkbox" [(ngModel)]="toDo.markedForDeletion"></td>
    </tr>
</table>
<button (click)="deleteTodos()">Delete</button>