
.text-center{
    text-align: center;
}

.margin-auto{
    margin: auto;
}


.flex-container{
    display: flex;
    flex-flow: row wrap;
}

.gif-container{
    margin: 6px 0;
    flex-basis: calc(100%/3);
}

.gif{
    width: 75%;
    display: block;

}