<h3>Todos</h3>
<div>
    <label for="search">Search Todos:</label><input id="search" placeholder="Query" [(ngModel)]="search">
</div>

<table>
    <tr>
        <th (click)="sort = 'id'">Id</th>
        <th (click)="sort = 'title'">Title</th>
        <th (click)="sort = 'username'">Username</th>
        <th (click)="sort = 'completed'">Completed</th>
        <th></th>
    </tr>
    <tr *ngFor="let todo of todoList | filter:search | sort:sort" [class.completed]="todo.completed">
        <td>{{todo.id}}</td>
        <td>{{todo.title}}</td>
        <td><a [routerLink]="['/user/' + todo.username">{{todo.username}}</a></td>
        <td style="text-align: center;"><input (click)="markTodo(todo.id)" type="checkbox" [(ngModel)]="todo.completed"></input></td>
        <td><input type="checkbox" [(ngModel)]="toDo.completed"></td>
    </tr>
</table>
<button class="btn btn-danger" *ngIf="isUserRoute" (click)="deleteTodos()">Delete</button>